<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARDIO VISION</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/1e12042d42.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div class="contanier">
            <nav>
                <img src="static/images/logo-removebg-preview.png" class="logo">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Know More</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#uploadimage">Upload Image</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <p>"Empowering Vision with AI: See Beyond the Limits"</p>
                <h1>CARDIO<span>VISION</span></h1>
            </div>
        </div>
    </div>
    <!------------------about-------------------->
    <div id="about">
        <div class="contanier">
            <div class="row">
                <div class="about-col1">
                    <img src="static/images/1_left.jpeg">
                </div>
                <div class="about-col2">
                    <h1 class="subtitle">About Cardio Vision</h1>
                    <p><br> <br> <br> The project is a machine learning-based system designed to detect and diagnose
                        retinal diseases using fundus images. It aims to provide an efficient and accurate solution for
                        early diagnosis, which can potentially save many lives by preventing irreversible damage to the
                        eyes. By leveraging the power of deep learning and computer vision, this project has the
                        potential to revolutionize the field of ophthalmology and make eye care more accessible to
                        everyone.</p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('the-team')">The Team</p>
                        <p class="tab-links" onclick="opentab('the-dataset')">The Dataset</p>
                        <p class="tab-links" onclick="opentab('technologies-used')">Technologies Used</p>
                    </div>
                    <div class="tab-contents active-tab" id="the-team">
                        <ul>
                            <li><span>RISHI</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ML / WEB DEVLOPER</li>
                            <li><span>DEVANSH</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOCTOR</li>
                            <li><span>SATISH</span>&nbsp;&nbsp;&nbsp;&nbsp;AI / BACKEND DEVLOPER</li>
                            <li><span>ABHINAV</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOCTOR</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="the-dataset">
                        <ul>
                            <li><span>Taken in OPD settting</span><BR>The database for our project consists of eye
                                images collected from patients. The images were captured using a normal phone camera
                                with an external lens, following a standardized protocol.</li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="technologies-used">
                        <ul>
                            <li><span>Machine learning</span><BR></li>
                            <li><span>Artificial Intellengence</span><BR></li>
                            <li><span>Neural Networks</span><BR></li>
                            <li><span>Computer Vision</span><BR></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------services-------------------->
    <div id="services">
        <div class="contanier">
            <h1 class="subtitle">Our Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-eye"></i>
                    <h2>Automated detection of eye diseases</h2>
                    <P>Our project uses a machine learning model to accurately detect various eye diseases such as Dry
                        AMD, Wet AMD, Mild/Moderate/Severe/Proliferate DR, Cataract, Pathological myopia, and Glaucoma.
                    </P>
                </div>
                <div>
                    <i class="fa-solid fa-user-doctor"></i>
                    <h2>Early diagnosis and prevention</h2>
                    <P>Our model allows for early diagnosis and prevention of eye diseases, helping patients receive
                        timely treatment and potentially avoiding further complications.</P>
                </div>
                <div>
                    <i class="fa-solid fa-hand-holding-medical"></i>
                    <h2>Efficient and accessible healthcare</h2>
                    <P>With our automated detection system, healthcare professionals can efficiently screen patients for
                        eye diseases, making healthcare more accessible to those who need it.</P>
                </div>
            </div>
        </div>

    </div>
    <!------------------portfolio-------------------->
    <div id="portfolio">
        <div class="contanier">
            <h1 class="subtitle">Know More</h1>
            <div class="work-list">
                <div class="work">
                    <img src="static/images/work1.jpg">
                    <div class="layer">
                        <h3>The Machine Learning Model</h3>
                        <p>The machine learning model used in this project is a convolutional neural network (CNN) based
                            classification model that can classify retinal fundus images . It was built using the
                            TensorFlow and Keras libraries and trained on a subset of the dataset using a combination of
                            data augmentation and transfer learning techniques. </p>
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="static/images/work2.jpg">
                    <div class="layer">
                        <h3>The Dataset</h3>
                        <p>The dataset used in this project consists of retinal fundus images of patients with various
                            eye diseases such as age-related macular degeneration (AMD), diabetic retinopathy (DR),
                            cataract, pathological myopia, and glaucoma. The images were acquired from different sources
                            and preprocessed for uniformity.</p>
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="static/images/work3.jpg">
                    <div class="layer">
                        <h3>Evidence</h3>
                        <p></p>
                        <a href="#"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------how to capture image-------------------->
    <div id="howtocap">
        <div class="contanier">
            <div class="row">
                <div class="contact-left">
                    <h1 class="subtitle">How to capture the image</h1>
                    <p><i class="fa-regular fa-paper-plane"></i> click the photo to know more</p>


                </div>

                <div class="contact-right">
                    <div class="work">
                        <img src="static/images/howto.png" width="400" height="500">
                        <div class="layer">
                            <h3>STEPS</h3>
                            <p>#1 Put the dialator in the eye and wait for about 40 minutes <br>
                                #2 After the pupil is Dialated use the provided VISION LENS setup to capture image <br>
                                #3 Assemble the setup :- attach the lens to the mount <br>
                                :- attach the clip mount to the phone's camera <br>
                                #4 Focus the lens using adjustable mount and click the desired image <br>

                                <br>
                                FOR MORE DETAILED EXPLANATION CLICK THE LINK BELOW <br>
                                <a href="www.youtube.com">Click Here</a>

                            </p>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>


    <!------------------image upload-------------------->
    <div id="uploadimage">
        <div class="contanier">
            <div class="row">
                <div class="contact-left1">
                    <h1 class="subtitle1">Upload Eye Image</h1>

                </div>

                <div class="contact-right1">
                    <form action="/index.html" method="post" enctype="multipart/form-data">

                        <input type="file" name="image" class="inp">
                        <button type="submit" class="btn22">Submit</button>
                        <button type="reset" class="btn22">Reset</button>
                    </form>
                    <span id="msg">{{err}}</span>
                </div>
            </div>
        </div>

    </div>
    <!------------------contact-------------------->
    <br><br>
    <div id="contact">
        <div class="contanier">
            <div class="row">
                <div class="contact-left">
                    <h1 class="subtitle">Contact Us</h1>
                    <p><i class="fa-regular fa-paper-plane"></i> satishreso888@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> 9119144782</p>

                </div>

                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="name" placeholder="your name" required>
                        <input type="email" name="email" placeholder="your email" required>
                        <textarea name="message" rows="6" placeholder="your message"></textarea>
                        <button type="submit" class="btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="madeby">
            <p>Made by Rishi Naudiyal</p>
        </div>
    </div>


    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");

            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");

            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>
    <script>
        const scriptURL = "https://script.google.com/macros/s/AKfycbzr0k-I3Z-z1afGOjhEw7CzRV5Qwd894N4W0JK-mm7Urom2dsGK8Rc0RsYg09NwMhlLGg/exec"
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then(response => {
                    msg.innerHTML = "message sent successfully"
                    setTimeout(function () {
                        msg.innerHTML = ""
                    }, 5000)
                    form.reset()
                })
                .catch(error => console.error('Error!', error.message))
        })
    </script>
</body>

</html>